<HTML>
<HEAD>
<META http-equiv="Content-Type" content="text/html; charset=UTF-8">
<META http-equiv="X-UA-Compatible" content="IE=8">
<TITLE>VyP Ltda</TITLE>
</HEAD>

<BODY>
<DIV id="page_1">
<DIV id="dimg1">
<IMG src="/images/image001.png" id="img1">
</DIV>


<DIV class="dclr"></DIV>
<P class="p0 ft0">COTIZACION</P>
<TABLE cellpadding=0 cellspacing=0 class="t0">
<TR>
	<TD class="tr0 td0"><P class="p1 ft1">&nbsp;</P></TD>
	<TD class="tr0 td1"><P class="p1 ft1">&nbsp;</P></TD>
	<TD class="tr1 td2"><P class="p2 ft2">Empresa</P></TD>
	<TD class="tr1 td3"><P class="p1 ft1">&nbsp;</P></TD>
	<TD colspan=2 class="tr1 td4"><P class="p2 ft2">COMERCIAL V&P LTDA.</P></TD>
	<TD class="tr1 td5"><P class="p3 ft2">Cotizacion Nº</P></TD>
	<TD class="tr1 td6"><P class="p4 ft2"><NOBR>@quotation.code</NOBR></P></TD>
	<TD class="tr0 td7"><P class="p1 ft1">&nbsp;</P></TD>
	<TD class="tr0 td8"><P class="p1 ft1">&nbsp;</P></TD>
</TR>
<TR>
	<TD class="tr0 td0"><P class="p1 ft1">&nbsp;</P></TD>
	<TD class="tr0 td1"><P class="p1 ft1">&nbsp;</P></TD>
	<TD class="tr2 td9"><P class="p2 ft2">Rut. cliente</P></TD>
	<TD class="tr2 td10"><P class="p1 ft1">&nbsp;</P></TD>
	<TD class="tr2 td11"><P class="p2 ft2"><NOBR>76,406,548-4</NOBR></P></TD>
	<TD class="tr2 td12"><P class="p1 ft1">&nbsp;</P></TD>
	<TD class="tr2 td13"><P class="p5 ft2">Fecha</P></TD>
	<TD class="tr2 td14"><P class="p6 ft3">29 de octubre de 2014</P></TD>
	<TD class="tr0 td7"><P class="p1 ft1">&nbsp;</P></TD>
	<TD class="tr0 td8"><P class="p1 ft1">&nbsp;</P></TD>
</TR>
<TR>
	<TD class="tr2 td0"><P class="p1 ft1">&nbsp;</P></TD>
	<TD class="tr2 td1"><P class="p1 ft1">&nbsp;</P></TD>
	<TD class="tr1 td9"><P class="p2 ft2">Dirección</P></TD>
	<TD class="tr1 td10"><P class="p1 ft1">&nbsp;</P></TD>
	<TD colspan=2 class="tr1 td15"><P class="p2 ft2">Los Abedules Nº 2145 Block Nº 3 Dpto Nº 303</P></TD>
	<TD class="tr1 td13"><P class="p7 ft2">Email</P></TD>
	<TD class="tr1 td14"><P class="p8 ft4">ventas@vypltda.cl</P></TD>
	<TD class="tr2 td7"><P class="p1 ft1">&nbsp;</P></TD>
	<TD class="tr2 td8"><P class="p1 ft1">&nbsp;</P></TD>
</TR>
<TR>
	<TD class="tr3 td0"><P class="p1 ft1">&nbsp;</P></TD>
	<TD class="tr3 td1"><P class="p1 ft1">&nbsp;</P></TD>
	<TD rowspan=2 class="tr4 td16"><P class="p2 ft2">Giro</P></TD>
	<TD class="tr3 td17"><P class="p1 ft1">&nbsp;</P></TD>
	<TD colspan=2 class="tr3 td18"><P class="p2 ft2">Comercializacion e Instalacion de Equipos Contra</P></TD>
	<TD class="tr0 td13"><P class="p9 ft2">Teléfono</P></TD>
	<TD class="tr0 td14"><P class="p10 ft2"><NOBR>64-2321112</NOBR></P></TD>
	<TD class="tr3 td7"><P class="p1 ft1">&nbsp;</P></TD>
	<TD class="tr3 td8"><P class="p1 ft1">&nbsp;</P></TD>
</TR>
<TR>
	<TD class="tr5 td0"><P class="p1 ft5">&nbsp;</P></TD>
	<TD class="tr5 td1"><P class="p1 ft5">&nbsp;</P></TD>
	<TD class="tr5 td17"><P class="p1 ft5">&nbsp;</P></TD>
	<TD colspan=2 rowspan=2 class="tr6 td18"><P class="p2 ft3">Incendios y de Seguridad.</P></TD>
	<TD class="tr5 td19"><P class="p1 ft5">&nbsp;</P></TD>
	<TD class="tr5 td20"><P class="p1 ft5">&nbsp;</P></TD>
	<TD class="tr5 td7"><P class="p1 ft5">&nbsp;</P></TD>
	<TD class="tr5 td8"><P class="p1 ft5">&nbsp;</P></TD>
</TR>
<TR>
	<TD class="tr7 td0"><P class="p1 ft6">&nbsp;</P></TD>
	<TD class="tr7 td1"><P class="p1 ft6">&nbsp;</P></TD>
	<TD class="tr7 td16"><P class="p1 ft6">&nbsp;</P></TD>
	<TD class="tr7 td17"><P class="p1 ft6">&nbsp;</P></TD>
	<TD class="tr7 td19"><P class="p1 ft6">&nbsp;</P></TD>
	<TD class="tr7 td20"><P class="p1 ft6">&nbsp;</P></TD>
	<TD class="tr7 td7"><P class="p1 ft6">&nbsp;</P></TD>
	<TD class="tr7 td8"><P class="p1 ft6">&nbsp;</P></TD>
</TR>
<TR>
	<TD class="tr8 td0"><P class="p1 ft7">&nbsp;</P></TD>
	<TD class="tr8 td1"><P class="p1 ft7">&nbsp;</P></TD>
	<TD class="tr5 td9"><P class="p1 ft5">&nbsp;</P></TD>
	<TD class="tr5 td10"><P class="p1 ft5">&nbsp;</P></TD>
	<TD colspan=2 class="tr5 td15"><P class="p1 ft5">&nbsp;</P></TD>
	<TD class="tr8 td19"><P class="p1 ft7">&nbsp;</P></TD>
	<TD class="tr8 td20"><P class="p1 ft7">&nbsp;</P></TD>
	<TD class="tr8 td7"><P class="p1 ft7">&nbsp;</P></TD>
	<TD class="tr8 td8"><P class="p1 ft7">&nbsp;</P></TD>
</TR>
<TR>
	<TD class="tr0 td0"><P class="p1 ft1">&nbsp;</P></TD>
	<TD class="tr0 td1"><P class="p1 ft1">&nbsp;</P></TD>
	<TD class="tr2 td9"><P class="p2 ft2">Ciudad</P></TD>
	<TD class="tr2 td10"><P class="p1 ft1">&nbsp;</P></TD>
	<TD colspan=2 class="tr2 td15"><P class="p2 ft2">OSORNO</P></TD>
	<TD class="tr0 td19"><P class="p1 ft1">&nbsp;</P></TD>
	<TD class="tr0 td20"><P class="p1 ft1">&nbsp;</P></TD>
	<TD class="tr0 td7"><P class="p1 ft1">&nbsp;</P></TD>
	<TD class="tr0 td8"><P class="p1 ft1">&nbsp;</P></TD>
</TR>
<TR>
	<TD class="tr1 td21"><P class="p1 ft1">&nbsp;</P></TD>
	<TD class="tr1 td22"><P class="p1 ft1">&nbsp;</P></TD>
	<TD class="tr1 td9"><P class="p1 ft1">&nbsp;</P></TD>
	<TD class="tr1 td23"><P class="p1 ft1">&nbsp;</P></TD>
	<TD class="tr1 td11"><P class="p1 ft1">&nbsp;</P></TD>
	<TD class="tr1 td24"><P class="p1 ft1">&nbsp;</P></TD>
	<TD class="tr1 td25"><P class="p1 ft1">&nbsp;</P></TD>
	<TD class="tr1 td26"><P class="p1 ft1">&nbsp;</P></TD>
	<TD class="tr1 td27"><P class="p1 ft1">&nbsp;</P></TD>
	<TD class="tr1 td28"><P class="p1 ft1">&nbsp;</P></TD>
</TR>
<TR>
	<TD class="tr2 td29"><P class="p1 ft1">&nbsp;</P></TD>
	<TD class="tr2 td30"><P class="p1 ft1">&nbsp;</P></TD>
	<TD class="tr2 td31"><P class="p1 ft1">&nbsp;</P></TD>
	<TD class="tr2 td32"><P class="p1 ft1">&nbsp;</P></TD>
	<TD class="tr2 td33"><P class="p1 ft1">&nbsp;</P></TD>
	<TD class="tr2 td34"><P class="p1 ft1">&nbsp;</P></TD>
	<TD class="tr2 td35"><P class="p1 ft1">&nbsp;</P></TD>
	<TD class="tr2 td36"><P class="p1 ft1">&nbsp;</P></TD>
	<TD class="tr2 td37"><P class="p1 ft1">&nbsp;</P></TD>
	<TD class="tr2 td38"><P class="p1 ft1">&nbsp;</P></TD>
</TR>
<TR>
	<TD class="tr0 td0"><P class="p1 ft1">&nbsp;</P></TD>
	<TD class="tr2 td39"><P class="p1 ft1">&nbsp;</P></TD>
	<TD class="tr2 td40"><P class="p1 ft1">&nbsp;</P></TD>
	<TD class="tr2 td41"><P class="p1 ft1">&nbsp;</P></TD>
	<TD class="tr2 td42"><P class="p1 ft1">&nbsp;</P></TD>
	<TD class="tr0 td43"><P class="p1 ft1">&nbsp;</P></TD>
	<TD class="tr2 td44"><P class="p1 ft1">&nbsp;</P></TD>
	<TD class="tr2 td45"><P class="p1 ft1">&nbsp;</P></TD>
	<TD class="tr2 td46"><P class="p1 ft1">&nbsp;</P></TD>
	<TD class="tr2 td47"><P class="p1 ft1">&nbsp;</P></TD>
</TR>
<TR>
	<TD class="tr2 td48"><P class="p1 ft1">&nbsp;</P></TD>
	<TD class="tr1 td49"><P class="p1 ft1">&nbsp;</P></TD>
	<TD class="tr1 td50"><P class="p1 ft1">&nbsp;</P></TD>
	<TD colspan=2 class="tr1 td51"><P class="p1 ft8">CLIENTE</P></TD>
	<TD class="tr2 td52"><P class="p1 ft1">&nbsp;</P></TD>
	<TD class="tr1 td53"><P class="p1 ft1">&nbsp;</P></TD>
	<TD colspan=2 class="tr1 td54"><P class="p11 ft8">Entrega</P></TD>
	<TD class="tr1 td55"><P class="p1 ft1">&nbsp;</P></TD>
</TR>
<TR>
	<TD class="tr9 td0"><P class="p1 ft1">&nbsp;</P></TD>
	<TD class="tr9 td56"><P class="p12 ft9">Empresa</P></TD>
	<TD colspan=4 class="tr9 td57"><P class="p2 ft9">@quotation.name</P></TD>
	<TD class="tr9 td19"><P class="p13 ft9">Fecha</P></TD>
	<TD colspan=2 class="tr10 td58"><P class="p14 ft9">Según Cliente</P></TD>
	<TD class="tr10 td28"><P class="p1 ft1">&nbsp;</P></TD>
</TR>
<TR>
	<TD class="tr0 td0"><P class="p1 ft1">&nbsp;</P></TD>
	<TD class="tr0 td56"><P class="p15 ft9">Rut.</P></TD>
	<TD class="tr0 td16"><P class="p1 ft1">&nbsp;</P></TD>
	<TD class="tr0 td59"><P class="p1 ft1">&nbsp;</P></TD>
	<TD class="tr0 td60"><P class="p1 ft1">&nbsp;</P></TD>
	<TD class="tr0 td43"><P class="p1 ft1">&nbsp;</P></TD>
	<TD class="tr0 td19"><P class="p16 ft9">Condición</P></TD>
	<TD class="tr2 td26"><P class="p1 ft1">&nbsp;</P></TD>
	<TD class="tr2 td27"><P class="p1 ft1">&nbsp;</P></TD>
	<TD class="tr2 td28"><P class="p1 ft1">&nbsp;</P></TD>
</TR>
<TR>
	<TD class="tr0 td0"><P class="p1 ft1">&nbsp;</P></TD>
	<TD class="tr0 td56"><P class="p17 ft9">Dirección</P></TD>
	<TD class="tr0 td16"><P class="p1 ft1">&nbsp;</P></TD>
	<TD class="tr0 td59"><P class="p1 ft1">&nbsp;</P></TD>
	<TD class="tr0 td60"><P class="p1 ft1">&nbsp;</P></TD>
	<TD class="tr0 td43"><P class="p1 ft1">&nbsp;</P></TD>
	<TD class="tr0 td19"><P class="p1 ft1">&nbsp;</P></TD>
	<TD class="tr2 td26"><P class="p1 ft1">&nbsp;</P></TD>
	<TD class="tr2 td27"><P class="p1 ft1">&nbsp;</P></TD>
	<TD class="tr2 td28"><P class="p1 ft1">&nbsp;</P></TD>
</TR>
<TR>
	<TD class="tr11 td0"><P class="p1 ft1">&nbsp;</P></TD>
	<TD class="tr11 td56"><P class="p12 ft10">Teléfono</P></TD>
	<TD class="tr11 td16"><P class="p1 ft1">&nbsp;</P></TD>
	<TD class="tr11 td59"><P class="p1 ft1">&nbsp;</P></TD>
	<TD class="tr11 td60"><P class="p1 ft1">&nbsp;</P></TD>
	<TD class="tr11 td43"><P class="p1 ft1">&nbsp;</P></TD>
	<TD colspan=3 class="tr11 td61"><P class="p18 ft11"><SPAN class="ft10">Att. A </SPAN>Sebastian Hoffmann</P></TD>
	<TD class="tr11 td8"><P class="p1 ft1">&nbsp;</P></TD>
</TR>
<TR>
	<TD class="tr0 td0"><P class="p1 ft1">&nbsp;</P></TD>
	<TD class="tr0 td56"><P class="p19 ft9">Email</P></TD>
	<TD colspan=4 class="tr0 td57"><P class="p17 ft12">@quotation.email</P></TD>
	<TD class="tr0 td19"><P class="p1 ft1">&nbsp;</P></TD>
	<TD class="tr2 td62"><P class="p1 ft1">&nbsp;</P></TD>
	<TD class="tr2 td63"><P class="p1 ft1">&nbsp;</P></TD>
	<TD class="tr2 td64"><P class="p1 ft1">&nbsp;</P></TD>
</TR>
<TR>
	<TD class="tr12 td0"><P class="p1 ft13">&nbsp;</P></TD>
	<TD class="tr12 td56"><P class="p1 ft13">&nbsp;</P></TD>
	<TD class="tr12 td16"><P class="p1 ft13">&nbsp;</P></TD>
	<TD class="tr12 td59"><P class="p1 ft13">&nbsp;</P></TD>
	<TD class="tr12 td60"><P class="p1 ft13">&nbsp;</P></TD>
	<TD class="tr12 td43"><P class="p1 ft13">&nbsp;</P></TD>
	<TD class="tr12 td19"><P class="p1 ft13">&nbsp;</P></TD>
	<TD class="tr12 td20"><P class="p1 ft13">&nbsp;</P></TD>
	<TD class="tr12 td7"><P class="p1 ft13">&nbsp;</P></TD>
	<TD class="tr12 td8"><P class="p1 ft13">&nbsp;</P></TD>
</TR>
</TABLE>
<TABLE cellpadding=0 cellspacing=0 class="t1">
<TR>
	<TD colspan=2 class="tr2 td65"><P class="p20 ft8">Codigo</P></TD>
	<TD class="tr2 td66"><P class="p1 ft8">DESCRIPCION</P></TD>
	<TD colspan=2 class="tr2 td67"><P class="p21 ft14">CANTIDAD</P></TD>
	<TD class="tr2 td68"><P class="p22 ft14">PRECIO U</P></TD>
	<TD class="tr2 td69"><P class="p19 ft14">TOTAL</P></TD>
</TR>
<TR>
	<TD class="tr13 td70"><P class="p1 ft1">&nbsp;</P></TD>
	<TD class="tr13 td71"><P class="p1 ft1">&nbsp;</P></TD>
	<TD class="tr13 td72"><P class="p1 ft1">&nbsp;</P></TD>
	<TD class="tr13 td73"><P class="p1 ft1">&nbsp;</P></TD>
	<TD class="tr13 td74"><P class="p1 ft1">&nbsp;</P></TD>
	<TD class="tr13 td75"><P class="p1 ft1">&nbsp;</P></TD>
	<TD class="tr13 td69"><P class="p1 ft1">&nbsp;</P></TD>
</TR>
<TR>
	<TD class="tr2 td76"><P class="p1 ft1">&nbsp;</P></TD>
	<TD colspan=2 class="tr2 td77"><P class="p1 ft15">TIRA CAÑERIA GALVANIZADA ASTM <NOBR>SCH-40</NOBR> A53 Gr B 2"</P></TD>
	<TD class="tr2 td78"><P class="p23 ft15">1,00</P></TD>
	<TD class="tr2 td79"><P class="p1 ft1">&nbsp;</P></TD>
	<TD class="tr2 td80"><P class="p24 ft15">56.700</P></TD>
	<TD class="tr2 td81"><P class="p24 ft15">56.700</P></TD>
</TR>
<TR>
	<TD class="tr5 td70"><P class="p1 ft5">&nbsp;</P></TD>
	<TD colspan=2 class="tr5 td82"><P class="p1 ft5">&nbsp;</P></TD>
	<TD class="tr5 td73"><P class="p1 ft5">&nbsp;</P></TD>
	<TD class="tr5 td74"><P class="p1 ft5">&nbsp;</P></TD>
	<TD class="tr5 td75"><P class="p1 ft5">&nbsp;</P></TD>
	<TD class="tr5 td69"><P class="p1 ft5">&nbsp;</P></TD>
</TR>
<TR>
	<TD class="tr0 td76"><P class="p1 ft1">&nbsp;</P></TD>
	<TD colspan=2 class="tr0 td77"><P class="p1 ft15">TIRA CAÑERIA NEGRA ASTM <NOBR>SCH-40</NOBR> ERW A53 Gr B 2"</P></TD>
	<TD class="tr0 td78"><P class="p23 ft15">1,00</P></TD>
	<TD class="tr0 td79"><P class="p1 ft1">&nbsp;</P></TD>
	<TD class="tr0 td80"><P class="p24 ft15">27.030</P></TD>
	<TD class="tr0 td81"><P class="p24 ft15">27.030</P></TD>
</TR>
<TR>
	<TD class="tr5 td70"><P class="p1 ft5">&nbsp;</P></TD>
	<TD class="tr5 td71"><P class="p1 ft5">&nbsp;</P></TD>
	<TD class="tr5 td72"><P class="p1 ft5">&nbsp;</P></TD>
	<TD class="tr5 td73"><P class="p1 ft5">&nbsp;</P></TD>
	<TD class="tr5 td74"><P class="p1 ft5">&nbsp;</P></TD>
	<TD class="tr5 td75"><P class="p1 ft5">&nbsp;</P></TD>
	<TD class="tr5 td69"><P class="p1 ft5">&nbsp;</P></TD>
</TR>
<TR>
	<TD class="tr2 td76"><P class="p1 ft1">&nbsp;</P></TD>
	<TD class="tr2 td83"><P class="p1 ft15">TEE GALVANIZADO. 2" X 2"</P></TD>
	<TD class="tr2 td84"><P class="p1 ft1">&nbsp;</P></TD>
	<TD class="tr2 td78"><P class="p23 ft15">1,00</P></TD>
	<TD class="tr2 td79"><P class="p1 ft1">&nbsp;</P></TD>
	<TD class="tr2 td80"><P class="p24 ft15">4.743</P></TD>
	<TD class="tr2 td81"><P class="p24 ft15">4.743</P></TD>
</TR>
<TR>
	<TD class="tr5 td70"><P class="p1 ft5">&nbsp;</P></TD>
	<TD class="tr5 td71"><P class="p1 ft5">&nbsp;</P></TD>
	<TD class="tr5 td72"><P class="p1 ft5">&nbsp;</P></TD>
	<TD class="tr5 td73"><P class="p1 ft5">&nbsp;</P></TD>
	<TD class="tr5 td74"><P class="p1 ft5">&nbsp;</P></TD>
	<TD class="tr5 td75"><P class="p1 ft5">&nbsp;</P></TD>
	<TD class="tr5 td69"><P class="p1 ft5">&nbsp;</P></TD>
</TR>
<TR>
	<TD class="tr2 td76"><P class="p1 ft1">&nbsp;</P></TD>
	<TD class="tr2 td83"><P class="p1 ft15">CODO GALVANIZADO 2" X 90º</P></TD>
	<TD class="tr2 td84"><P class="p1 ft1">&nbsp;</P></TD>
	<TD class="tr2 td78"><P class="p23 ft15">1,00</P></TD>
	<TD class="tr2 td79"><P class="p1 ft1">&nbsp;</P></TD>
	<TD class="tr2 td80"><P class="p24 ft15">3.350</P></TD>
	<TD class="tr2 td81"><P class="p24 ft15">3.350</P></TD>
</TR>
<TR>
	<TD class="tr5 td70"><P class="p1 ft5">&nbsp;</P></TD>
	<TD class="tr5 td71"><P class="p1 ft5">&nbsp;</P></TD>
	<TD class="tr5 td72"><P class="p1 ft5">&nbsp;</P></TD>
	<TD class="tr5 td73"><P class="p1 ft5">&nbsp;</P></TD>
	<TD class="tr5 td74"><P class="p1 ft5">&nbsp;</P></TD>
	<TD class="tr5 td75"><P class="p1 ft5">&nbsp;</P></TD>
	<TD class="tr5 td69"><P class="p1 ft5">&nbsp;</P></TD>
</TR>
<TR>
	<TD class="tr0 td76"><P class="p1 ft1">&nbsp;</P></TD>
	<TD class="tr0 td83"><P class="p1 ft15">CODO GALVANIZADO 2" X 45º</P></TD>
	<TD class="tr0 td84"><P class="p1 ft1">&nbsp;</P></TD>
	<TD class="tr0 td78"><P class="p23 ft15">1,00</P></TD>
	<TD class="tr0 td79"><P class="p1 ft1">&nbsp;</P></TD>
	<TD class="tr0 td80"><P class="p24 ft15">3.350</P></TD>
	<TD class="tr0 td81"><P class="p24 ft15">3.350</P></TD>
</TR>
<TR>
	<TD class="tr5 td70"><P class="p1 ft5">&nbsp;</P></TD>
	<TD class="tr5 td71"><P class="p1 ft5">&nbsp;</P></TD>
	<TD class="tr5 td72"><P class="p1 ft5">&nbsp;</P></TD>
	<TD class="tr5 td73"><P class="p1 ft5">&nbsp;</P></TD>
	<TD class="tr5 td74"><P class="p1 ft5">&nbsp;</P></TD>
	<TD class="tr5 td75"><P class="p1 ft5">&nbsp;</P></TD>
	<TD class="tr5 td69"><P class="p1 ft5">&nbsp;</P></TD>
</TR>
<TR>
	<TD class="tr2 td76"><P class="p1 ft1">&nbsp;</P></TD>
	<TD class="tr2 td83"><P class="p1 ft15">COPLA GALVANIZADA 2"</P></TD>
	<TD class="tr2 td84"><P class="p1 ft1">&nbsp;</P></TD>
	<TD class="tr2 td78"><P class="p23 ft15">1,00</P></TD>
	<TD class="tr2 td79"><P class="p1 ft1">&nbsp;</P></TD>
	<TD class="tr2 td80"><P class="p24 ft15">2.563</P></TD>
	<TD class="tr2 td81"><P class="p24 ft15">2.563</P></TD>
</TR>
<TR>
	<TD class="tr5 td70"><P class="p1 ft5">&nbsp;</P></TD>
	<TD class="tr5 td71"><P class="p1 ft5">&nbsp;</P></TD>
	<TD class="tr5 td72"><P class="p1 ft5">&nbsp;</P></TD>
	<TD class="tr5 td73"><P class="p1 ft5">&nbsp;</P></TD>
	<TD class="tr5 td74"><P class="p1 ft5">&nbsp;</P></TD>
	<TD class="tr5 td75"><P class="p1 ft5">&nbsp;</P></TD>
	<TD class="tr5 td69"><P class="p1 ft5">&nbsp;</P></TD>
</TR>
<TR>
	<TD class="tr2 td76"><P class="p1 ft1">&nbsp;</P></TD>
	<TD class="tr2 td83"><P class="p1 ft15">NIPLE GALVANIZADO 2" <NOBR>HE-HE</NOBR></P></TD>
	<TD class="tr2 td84"><P class="p1 ft1">&nbsp;</P></TD>
	<TD class="tr2 td78"><P class="p23 ft15">1,00</P></TD>
	<TD class="tr2 td79"><P class="p1 ft1">&nbsp;</P></TD>
	<TD class="tr2 td80"><P class="p24 ft15">2.273</P></TD>
	<TD class="tr2 td81"><P class="p24 ft15">2.273</P></TD>
</TR>
<TR>
	<TD class="tr5 td70"><P class="p1 ft5">&nbsp;</P></TD>
	<TD colspan=2 class="tr5 td82"><P class="p1 ft5">&nbsp;</P></TD>
	<TD class="tr5 td73"><P class="p1 ft5">&nbsp;</P></TD>
	<TD class="tr5 td74"><P class="p1 ft5">&nbsp;</P></TD>
	<TD class="tr5 td75"><P class="p1 ft5">&nbsp;</P></TD>
	<TD class="tr5 td69"><P class="p1 ft5">&nbsp;</P></TD>
</TR>
<TR>
	<TD class="tr2 td76"><P class="p1 ft1">&nbsp;</P></TD>
	<TD colspan=2 class="tr2 td77"><P class="p1 ft15">UNION AMERICANA GALVANIZADO ASIENTO CONICO FIERRO 2"</P></TD>
	<TD class="tr2 td78"><P class="p23 ft15">1,00</P></TD>
	<TD class="tr2 td79"><P class="p1 ft1">&nbsp;</P></TD>
	<TD class="tr2 td80"><P class="p24 ft15">7.647</P></TD>
	<TD class="tr2 td81"><P class="p24 ft15">7.647</P></TD>
</TR>
<TR>
	<TD class="tr8 td70"><P class="p1 ft7">&nbsp;</P></TD>
	<TD colspan=2 class="tr8 td82"><P class="p1 ft7">&nbsp;</P></TD>
	<TD class="tr8 td73"><P class="p1 ft7">&nbsp;</P></TD>
	<TD class="tr8 td74"><P class="p1 ft7">&nbsp;</P></TD>
	<TD class="tr8 td75"><P class="p1 ft7">&nbsp;</P></TD>
	<TD class="tr8 td69"><P class="p1 ft7">&nbsp;</P></TD>
</TR>
<TR>
	<TD class="tr2 td76"><P class="p1 ft1">&nbsp;</P></TD>
	<TD colspan=2 class="tr2 td77"><P class="p1 ft15">UNION AMERICANA GALVANIZADO ASIENTO PLANO FIERRO 2"</P></TD>
	<TD class="tr2 td78"><P class="p23 ft15">1,00</P></TD>
	<TD class="tr2 td79"><P class="p1 ft1">&nbsp;</P></TD>
	<TD class="tr2 td80"><P class="p24 ft15">6.714</P></TD>
	<TD class="tr2 td81"><P class="p24 ft15">6.714</P></TD>
</TR>
<TR>
	<TD class="tr5 td70"><P class="p1 ft5">&nbsp;</P></TD>
	<TD colspan=2 class="tr5 td82"><P class="p1 ft5">&nbsp;</P></TD>
	<TD class="tr5 td73"><P class="p1 ft5">&nbsp;</P></TD>
	<TD class="tr5 td74"><P class="p1 ft5">&nbsp;</P></TD>
	<TD class="tr5 td75"><P class="p1 ft5">&nbsp;</P></TD>
	<TD class="tr5 td69"><P class="p1 ft5">&nbsp;</P></TD>
</TR>
<TR>
	<TD class="tr2 td76"><P class="p1 ft1">&nbsp;</P></TD>
	<TD colspan=2 class="tr2 td77"><P class="p1 ft15">UNION AMERICANA GALVANIZADO ASIENTO CONICO BRONCE 2"</P></TD>
	<TD class="tr2 td78"><P class="p23 ft15">1,00</P></TD>
	<TD class="tr2 td79"><P class="p1 ft1">&nbsp;</P></TD>
	<TD class="tr2 td80"><P class="p24 ft15">9.172</P></TD>
	<TD class="tr2 td81"><P class="p24 ft15">9.172</P></TD>
</TR>
<TR>
	<TD class="tr5 td70"><P class="p1 ft5">&nbsp;</P></TD>
	<TD class="tr5 td71"><P class="p1 ft5">&nbsp;</P></TD>
	<TD class="tr5 td72"><P class="p1 ft5">&nbsp;</P></TD>
	<TD class="tr5 td73"><P class="p1 ft5">&nbsp;</P></TD>
	<TD class="tr5 td74"><P class="p1 ft5">&nbsp;</P></TD>
	<TD class="tr5 td75"><P class="p1 ft5">&nbsp;</P></TD>
	<TD class="tr5 td69"><P class="p1 ft5">&nbsp;</P></TD>
</TR>
<TR>
	<TD class="tr2 td76"><P class="p1 ft1">&nbsp;</P></TD>
	<TD class="tr2 td83"><P class="p1 ft15">CODO SOLDAR <NOBR>SCHA-40</NOBR> 2"</P></TD>
	<TD class="tr2 td84"><P class="p1 ft1">&nbsp;</P></TD>
	<TD class="tr2 td78"><P class="p23 ft15">1,00</P></TD>
	<TD class="tr2 td79"><P class="p1 ft1">&nbsp;</P></TD>
	<TD class="tr2 td80"><P class="p24 ft15">1.980</P></TD>
	<TD class="tr2 td81"><P class="p24 ft15">1.980</P></TD>
</TR>
<TR>
	<TD class="tr14 td70"><P class="p1 ft16">&nbsp;</P></TD>
	<TD class="tr14 td71"><P class="p1 ft16">&nbsp;</P></TD>
	<TD class="tr14 td72"><P class="p1 ft16">&nbsp;</P></TD>
	<TD class="tr14 td73"><P class="p1 ft16">&nbsp;</P></TD>
	<TD class="tr14 td74"><P class="p1 ft16">&nbsp;</P></TD>
	<TD class="tr14 td75"><P class="p1 ft16">&nbsp;</P></TD>
	<TD class="tr14 td69"><P class="p1 ft16">&nbsp;</P></TD>
</TR>
<TR>
	<TD class="tr6 td85"><P class="p1 ft17">&nbsp;</P></TD>
	<TD class="tr6 td83"><P class="p1 ft18">TEE SOLDAR <NOBR>SCHA-40</NOBR> 2"</P></TD>
	<TD class="tr6 td86"><P class="p1 ft17">&nbsp;</P></TD>
	<TD class="tr6 td87"><P class="p25 ft18">1,00</P></TD>
	<TD class="tr6 td79"><P class="p1 ft17">&nbsp;</P></TD>
	<TD class="tr6 td88"><P class="p23 ft18">4.192</P></TD>
	<TD class="tr6 td81"><P class="p23 ft18">4.192</P></TD>
</TR>
<TR>
	<TD class="tr5 td89"><P class="p1 ft5">&nbsp;</P></TD>
	<TD class="tr5 td71"><P class="p1 ft5">&nbsp;</P></TD>
	<TD class="tr5 td66"><P class="p1 ft5">&nbsp;</P></TD>
	<TD class="tr5 td90"><P class="p1 ft5">&nbsp;</P></TD>
	<TD class="tr5 td74"><P class="p1 ft5">&nbsp;</P></TD>
	<TD class="tr5 td68"><P class="p1 ft5">&nbsp;</P></TD>
	<TD class="tr5 td69"><P class="p1 ft5">&nbsp;</P></TD>
</TR>
<TR>
	<TD class="tr2 td85"><P class="p1 ft1">&nbsp;</P></TD>
	<TD class="tr2 td83"><P class="p1 ft15">FLANGE NEGRO PN 10 DIN 2576 2"</P></TD>
	<TD class="tr2 td86"><P class="p1 ft1">&nbsp;</P></TD>
	<TD class="tr2 td87"><P class="p25 ft15">1,00</P></TD>
	<TD class="tr2 td79"><P class="p1 ft1">&nbsp;</P></TD>
	<TD class="tr2 td88"><P class="p23 ft15">9.400</P></TD>
	<TD class="tr2 td81"><P class="p23 ft15">9.400</P></TD>
</TR>
<TR>
	<TD class="tr5 td89"><P class="p1 ft5">&nbsp;</P></TD>
	<TD class="tr5 td71"><P class="p1 ft5">&nbsp;</P></TD>
	<TD class="tr5 td66"><P class="p1 ft5">&nbsp;</P></TD>
	<TD class="tr5 td90"><P class="p1 ft5">&nbsp;</P></TD>
	<TD class="tr5 td74"><P class="p1 ft5">&nbsp;</P></TD>
	<TD class="tr5 td68"><P class="p1 ft5">&nbsp;</P></TD>
	<TD class="tr5 td69"><P class="p1 ft5">&nbsp;</P></TD>
</TR>
<TR>
	<TD class="tr3 td85"><P class="p1 ft1">&nbsp;</P></TD>
	<TD class="tr3 td83"><P class="p1 ft1">&nbsp;</P></TD>
	<TD class="tr3 td86"><P class="p1 ft1">&nbsp;</P></TD>
	<TD class="tr3 td87"><P class="p1 ft1">&nbsp;</P></TD>
	<TD class="tr3 td79"><P class="p1 ft1">&nbsp;</P></TD>
	<TD class="tr3 td88"><P class="p1 ft1">&nbsp;</P></TD>
	<TD class="tr3 td81"><P class="p26 ft15">-</P></TD>
</TR>
<TR>
	<TD class="tr8 td89"><P class="p1 ft7">&nbsp;</P></TD>
	<TD class="tr8 td71"><P class="p1 ft7">&nbsp;</P></TD>
	<TD class="tr8 td66"><P class="p1 ft7">&nbsp;</P></TD>
	<TD class="tr8 td90"><P class="p1 ft7">&nbsp;</P></TD>
	<TD class="tr8 td74"><P class="p1 ft7">&nbsp;</P></TD>
	<TD class="tr8 td68"><P class="p1 ft7">&nbsp;</P></TD>
	<TD class="tr8 td69"><P class="p1 ft7">&nbsp;</P></TD>
</TR>
<TR>
	<TD class="tr4 td89"><P class="p1 ft1">&nbsp;</P></TD>
	<TD class="tr4 td71"><P class="p27 ft19">"Descuentos ya aplicados"</P></TD>
	<TD class="tr4 td66"><P class="p1 ft1">&nbsp;</P></TD>
	<TD class="tr4 td90"><P class="p1 ft1">&nbsp;</P></TD>
	<TD class="tr4 td74"><P class="p1 ft1">&nbsp;</P></TD>
	<TD class="tr4 td68"><P class="p1 ft1">&nbsp;</P></TD>
	<TD class="tr4 td69"><P class="p26 ft15">-</P></TD>
</TR>
<TR>
	<TD class="tr2 td91"><P class="p1 ft1">&nbsp;</P></TD>
	<TD class="tr2 td71"><P class="p1 ft1">&nbsp;</P></TD>
	<TD class="tr2 td66"><P class="p1 ft1">&nbsp;</P></TD>
	<TD class="tr2 td90"><P class="p1 ft1">&nbsp;</P></TD>
	<TD class="tr2 td74"><P class="p1 ft1">&nbsp;</P></TD>
	<TD class="tr2 td68"><P class="p1 ft1">&nbsp;</P></TD>
	<TD class="tr2 td69"><P class="p26 ft15">-</P></TD>
</TR>
<TR>
	<TD class="tr2 td92"><P class="p1 ft1">&nbsp;</P></TD>
	<TD class="tr2 td93"><P class="p1 ft1">&nbsp;</P></TD>
	<TD class="tr2 td94"><P class="p1 ft1">&nbsp;</P></TD>
	<TD colspan=2 class="tr2 td67"><P class="p1 ft1">&nbsp;</P></TD>
	<TD class="tr2 td68"><P class="p1 ft1">&nbsp;</P></TD>
	<TD class="tr2 td69"><P class="p1 ft1">&nbsp;</P></TD>
</TR>
<TR>
	<TD class="tr3 td95"><P class="p1 ft1">&nbsp;</P></TD>
	<TD class="tr3 td83"><P class="p1 ft1">&nbsp;</P></TD>
	<TD class="tr3 td84"><P class="p1 ft1">&nbsp;</P></TD>
	<TD colspan=2 class="tr0 td67"><P class="p28 ft20">Neto</P></TD>
	<TD class="tr0 td75"><P class="p1 ft1">&nbsp;</P></TD>
	<TD class="tr0 td96"><P class="p24 ft21">139.114</P></TD>
</TR>
<TR>
	<TD class="tr2 td95"><P class="p1 ft1">&nbsp;</P></TD>
	<TD class="tr2 td83"><P class="p1 ft1">&nbsp;</P></TD>
	<TD class="tr2 td84"><P class="p1 ft1">&nbsp;</P></TD>
	<TD colspan=2 class="tr1 td67"><P class="p29 ft20">Descuento</P></TD>
	<TD class="tr1 td75"><P class="p30 ft20">0%</P></TD>
	<TD class="tr1 td96"><P class="p31 ft21">-</P></TD>
</TR>
<TR>
	<TD class="tr0 td95"><P class="p1 ft1">&nbsp;</P></TD>
	<TD class="tr0 td83"><P class="p1 ft1">&nbsp;</P></TD>
	<TD class="tr0 td84"><P class="p1 ft1">&nbsp;</P></TD>
	<TD colspan=2 class="tr2 td67"><P class="p28 ft20">Neto Final</P></TD>
	<TD class="tr2 td75"><P class="p1 ft1">&nbsp;</P></TD>
	<TD class="tr2 td96"><P class="p24 ft21">139.114</P></TD>
</TR>
<TR>
	<TD class="tr2 td95"><P class="p1 ft1">&nbsp;</P></TD>
	<TD class="tr2 td83"><P class="p1 ft1">&nbsp;</P></TD>
	<TD class="tr2 td84"><P class="p32 ft9">Mario Vidal Cavieres</P></TD>
	<TD colspan=2 class="tr1 td67"><P class="p29 ft22">IVA</P></TD>
	<TD class="tr1 td75"><P class="p30 ft22">19%</P></TD>
	<TD class="tr1 td96"><P class="p24 ft21">26.432</P></TD>
</TR>
<TR>
	<TD class="tr2 td95"><P class="p1 ft1">&nbsp;</P></TD>
	<TD class="tr2 td83"><P class="p1 ft1">&nbsp;</P></TD>
	<TD class="tr2 td84"><P class="p33 ft23">Com. V&P Ltda.</P></TD>
	<TD colspan=2 class="tr1 td67"><P class="p28 ft2">Total</P></TD>
	<TD class="tr1 td75"><P class="p1 ft1">&nbsp;</P></TD>
	<TD class="tr1 td96"><P class="p23 ft9">165.546</P></TD>
</TR>
<TR>
	<TD class="tr1 td95"><P class="p1 ft1">&nbsp;</P></TD>
	<TD class="tr1 td83"><P class="p3 ft9">DESPACHO EN SANTIAGO</P></TD>
	<TD class="tr1 td86"><P class="p34 ft24">Celular: 86624795</P></TD>
	<TD class="tr1 td87"><P class="p1 ft1">&nbsp;</P></TD>
	<TD class="tr1 td79"><P class="p1 ft1">&nbsp;</P></TD>
	<TD class="tr1 td88"><P class="p1 ft1">&nbsp;</P></TD>
	<TD class="tr1 td81"><P class="p1 ft1">&nbsp;</P></TD>
</TR>
<TR>
	<TD colspan=2 class="tr2 td97"><P class="p20 ft9">Este documento no tiene validez como factura.</P></TD>
	<TD class="tr2 td86"><P class="p1 ft1">&nbsp;</P></TD>
	<TD class="tr2 td87"><P class="p1 ft1">&nbsp;</P></TD>
	<TD class="tr2 td79"><P class="p1 ft1">&nbsp;</P></TD>
	<TD class="tr2 td88"><P class="p1 ft1">&nbsp;</P></TD>
	<TD class="tr2 td81"><P class="p1 ft1">&nbsp;</P></TD>
</TR>
<TR>
	<TD colspan=2 class="tr2 td97"><P class="p20 ft9">Valides de Cotizacion es de 5 dias.</P></TD>
	<TD class="tr2 td86"><P class="p1 ft1">&nbsp;</P></TD>
	<TD class="tr2 td87"><P class="p1 ft1">&nbsp;</P></TD>
	<TD class="tr2 td79"><P class="p1 ft1">&nbsp;</P></TD>
	<TD class="tr2 td88"><P class="p1 ft1">&nbsp;</P></TD>
	<TD class="tr2 td81"><P class="p1 ft1">&nbsp;</P></TD>
</TR>
<TR>
	<TD class="tr0 td91"><P class="p1 ft1">&nbsp;</P></TD>
	<TD class="tr0 td71"><P class="p1 ft1">&nbsp;</P></TD>
	<TD class="tr0 td66"><P class="p1 ft1">&nbsp;</P></TD>
	<TD class="tr0 td90"><P class="p1 ft1">&nbsp;</P></TD>
	<TD class="tr0 td74"><P class="p1 ft1">&nbsp;</P></TD>
	<TD class="tr0 td68"><P class="p1 ft1">&nbsp;</P></TD>
	<TD class="tr0 td69"><P class="p1 ft1">&nbsp;</P></TD>
</TR>
</TABLE>
</DIV>
</BODY>
</HTML>

