<% if @found_products != nil%>
<% @found_products.each do |product| %>
  <tr>
    <td><%= product.code %></td>
    <td><%= product.name %></td>
    <td><%= product.buy_price %></td>
    <td><%= product.sell_price %></td>
  
  </tr>
<% end %>
<% end %>
