<% if @order_items.size == 0 %>
  <p class="text-center">
    No hay productos en la orden.
  </p>
<% else %>
  <table class="table table-bordered">
<tr>
<th>Código</th>
<th>Nombre</th>
<th>Precio Venta</th>
<th>Precio Compra</th>
<th>Cantidad</th>
<th>Total Compra</th>
<th>Total Venta</th>
<th></th>
<th></th>

</tr>

  <% @order_items.each do |order_item| %>

    <%= render 'carts/cart_row', product: order_item.product, order_item: order_item %>
  <% end %>
</table>
<% end %>