

#page_1 {position:relative; overflow: hidden;margin: 0px 0px 0px 0px;padding: 0px;border: 3px solid #000000;width:1000px;height: 800px;}

.img1  {position:absolute;margin-top:15px;margin-left:600px;width:300px;height:250px;}

.grad {
  background: -webkit-linear-gradient(white, blue); /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(white, blue); /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(white, blue); /* For Firefox 3.6 to 15 */
  background: linear-gradient(white, blue); /* Standard syntax */
}
.div0{height: 26px;}
.div1{height: 26px;width:1000px;position:absolute;margin-top:220px;}
.ft0{font: 1px 'Tahoma';line-height: 1px;}
.ft1{font: bold 24px 'Tahoma';color: #ffffff;line-height: 15px;}
.ft2{font: italic bold 18px 'Tahoma';color: #002060}
.ft3{font: italic bold 14px 'Tahoma';color: #002060;}
.ft4{font: 12px 'Calibri';text-decoration: underline;color: #002060;line-height: 14px;}
.ft5{font: 14px 'Tahoma';color: #002060;line-height: 11px;}
.ft6{font: italic bold 10px 'Tahoma';color: #002060;line-height: 12px;}
.ft7{font: italic bold 9px 'Tahoma';color: #002060;line-height: 10px;}
.ft8{font: 9px 'Tahoma';color: #002060;line-height: 10px;}
.ft9{font: bold 9px 'Tahoma';color: #002060;line-height: 11px;}
.ft10{font: bold 9px 'Tahoma';color: #002060;line-height: 10px;}
.ft11{font: bold 8px 'Tahoma';color: #002060;line-height: 10px;}
.ft12{font: 9px 'Tahoma';line-height: 11px;}
.ft13{font: 9px 'Tahoma';line-height: 10px;}
.ft14{font: 15px 'Calibri Light';color: #ff0000;line-height: 18px;}
.ft15{font: 1px 'Tahoma';line-height: 10px;}
.ft16{font: 1px 'Tahoma';line-height: 5px;}
.ft17{font: bold 8px 'Tahoma';color: #ff0000;line-height: 10px;}
.ft18{font: bold 8px 'Tahoma';color: #002060;line-height: 9px;}
.ft19{font: 1px 'Tahoma';line-height: 6px;}
.ft20{font: 1px 'Tahoma';line-height: 7px;}
.ft21{font: bold 8px 'Tahoma';text-decoration: underline;color: #002060;line-height: 10px;}
.ft22{font: bold 9px 'Calibri';color: #002060;line-height: 10px;}

.p0{text-align: left;margin-top: 0px;margin-bottom: 0px;white-space: nowrap;}
.p1{text-align: center;margin-top: 4px;margin-bottom: 2px;white-space: nowrap;}
.p2{text-align: left;padding-left: 1px;margin-top: 0px;margin-bottom: 0px;white-space: nowrap;}
.p3{text-align: center;padding-right: 1px;margin-top: 0px;margin-bottom: 0px;white-space: nowrap;}
.p4{text-align: left;padding-left: 15px;white-space: nowrap;}
.p5{text-align: left;padding-left: 15px;}
.p6{text-align: left;padding-left: 65px;margin-top: 0px;margin-bottom: 0px;white-space: nowrap;}
.p7{text-align: left;padding-left: 19px;margin-top: 0px;margin-bottom: 0px;white-space: nowrap;}
.p8{text-align: right;padding-right: 17px;margin-top: 0px;margin-bottom: 0px;white-space: nowrap;}
.p9{text-align: left;padding-left: 44px;margin-top: 0px;margin-bottom: 0px;white-space: nowrap;}
.p10{text-align: right;padding-right: 14px;margin-top: 0px;margin-bottom: 0px;white-space: nowrap;}
.p11{text-align: right;padding-right: 11px;margin-top: 0px;margin-bottom: 0px;white-space: nowrap;}
.p12{text-align: right;padding-right: 15px;margin-top: 0px;margin-bottom: 0px;white-space: nowrap;}
.p13{text-align: right;padding-right: 16px;margin-top: 0px;margin-bottom: 0px;white-space: nowrap;}
.p14{text-align: left;padding-left: 67px;margin-top: 0px;margin-bottom: 0px;white-space: nowrap;}
.p15{text-align: right;padding-right: 7px;margin-top: 0px;margin-bottom: 0px;white-space: nowrap;}
.p16{text-align: left;padding-left: 135px;margin-top: 0px;margin-bottom: 0px;white-space: nowrap;}
.p17{text-align: left;padding-left: 8px;margin-top: 0px;margin-bottom: 0px;white-space: nowrap;}
.p18{text-align: left;padding-left: 10px;margin-top: 0px;margin-bottom: 0px;white-space: nowrap;}
.p19{text-align: right;margin-top: 0px;margin-bottom: 0px;white-space: nowrap;}
.p20{text-align: left;padding-left: 88px;margin-top: 0px;margin-bottom: 0px;white-space: nowrap;}
.p21{text-align: left;padding-left: 2px;margin-top: 0px;margin-bottom: 0px;white-space: nowrap;}
.p22{text-align: left;padding-left: 9px;margin-top: 0px;margin-bottom: 0px;white-space: nowrap;}
.p23{text-align: left;padding-left: 52px;margin-top: 0px;margin-bottom: 0px;white-space: nowrap;}
.p24{text-align: center;padding-left: 169px;margin-top: 0px;margin-bottom: 0px;white-space: nowrap;}
.p25{text-align: center;padding-right: 43px;margin-top: 0px;margin-bottom: 0px;white-space: nowrap;}
.p26{text-align: right;padding-right: 3px;margin-top: 0px;margin-bottom: 0px;white-space: nowrap;}
.p27{text-align: left;padding-left: 295px;margin-top: 500px;margin-bottom: 0px;}
.p28{text-align: left;padding-left: 3px;margin-top: 500px;margin-bottom: 0px;}

.td0{padding: 0px;margin: 0px;width: 100px; height: 25px; vertical-align: center;}
.td1{padding: 0px;margin: 0px;width: 28px;vertical-align: bottom;}
.td2{padding: 0px;margin: 0px;width: 1000px;}
.td3{padding: 0px;margin: 0px;width: 64px;vertical-align: bottom;}
.td4{padding: 0px;margin: 0px;width: 104px;vertical-align: bottom;}
.td5{padding: 0px;margin: 0px;width: 40px;vertical-align: bottom;}
.td6{padding: 0px;margin: 0px;width: 250px; height: 26px;}
.td7{padding: 0px;margin: 0px;width: 114px;vertical-align: bottom;}
.td8{padding: 0px;margin: 0px;width: 19px;vertical-align: bottom;}
.td9{padding: 0px;margin: 0px;width: 79px;vertical-align: bottom;}
.td10{padding: 0px;margin: 0px;width: 168px;vertical-align: bottom;}
.td11{padding: 0px;margin: 0px;width: 133px;vertical-align: bottom;}
.td12{padding: 0px;margin: 0px;width: 327px;vertical-align: bottom;}
.td13{padding: 0px;margin: 0px;width: 292px;vertical-align: bottom;}


.tr2{height: 14px;}
.tr3{height: 15px;}
.tr4{height: 31px;}
.tr5{height: 19px;}
.tr6{height: 12px;}
.tr7{height: 35px;}
.tr8{height: 17px;}
.tr9{height: 13px;}
.tr10{height: 27px;}
.tr11{height: 28px;}
.tr12{height: 24px;}
.tr13{height: 10px;}
.tr14{height: 5px;}
.tr15{height: 32px;}
.tr16{height: 6px;}
.tr17{height: 7px;}

.t0{position:absolute;margin-left: 0px;margin-top: 15px; border: 2px solid black;border-collapse: collapse;}
.t1{position:absolute;margin-left: 2px;margin-top: 50px;}
.t2{position:absolute;margin-left: 550px;margin-top: 140px; border: 2px solid black;border-collapse: collapse;}

.t3{position:absolute;margin-left: 0px;margin-top: 40px; border: 2px solid black;border-collapse: collapse;}
